* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*****************************************************************Body*****************************************************************/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
body:not(header):not(footer) {
    background-color: lightgrey;
}

/*****************************************************************Header*****************************************************************/

#header {
    background-color: #EAC926;
    width: 100%;
    padding: 20px 30px 20px 30px;

}
header .top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header picture .icon {
    white-space: nowrap;
}
.search {
    max-width: 200px;
    padding-left: 5px;
    align-items: center;
}
.search-box {
    background-color: white;
    width: 215px;
    color: #666;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}
header .icon {
    position: absolute;
    top: 3px;
    right: 0px;
    min-width: 0;
}
.fas.fa-search {
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    color: #666;
    padding: 5px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}
header .search {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}
#logo {
    width: 50%;
    height: auto;
    padding-right: 5px;
}
.fas.fa-hand-holding-usd {
    margin-right: 5px;
}
#cuotas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#cuotas h3 {
    font-weight: 400;
    text-align: center;
}
#nav1 {
    display: none;
}
#nav2 {
    display: none;
    margin-top: 15px;
    padding-bottom: 15px;
}
#hamburguesa {
    text-align: center;
}
.fas.fa-bars {
    background-color: #1259c3;
    font-size: 2em;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    margin: 0;
    max-width: 50px;
}

/*****************************************************************Main*****************************************************************/

main.container {
    width: 90vw;
    margin: auto;
    background-color: lightgrey;
    border: none;
}
main.container h3 {
    color: dimgrey;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
main header.container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: lightgrey;
}
#oferta {
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}
main section.container {
    border-top: solid 1px #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}
main section.subsecciones {
    display: grid;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
main article.container {
    background-color: white;
}
main img {
    max-width: 100%;
    margin: auto;
}
main section article picture .fas {
    
    color: #39b54a;
    border: solid #39b54a 1px;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    display: block;
    margin-left: 15px;
    position: absolute;
    right: 20px;
    height: 30px;
    top: -15px;
}
.precio {
    font-size: 18px;
    margin-left: 15px;
    flex-grow: 0.3;
}
.descuentos {
    font-size: 16px;
    margin-left: 15px;
    color: #2ab02a;
    flex-grow: 0.7;
}
.descripciones {
    display: none;
    font-size: 16px;
    margin-left: 15px;
}
main div.container {
    display: flex;
    width: 175px;
}

/***************************************************************Footer****************************************************************/

#footer {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
#footer i.far,#footer i.fas {
    color: #1259c3;
    font-size:2em;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer i.fas {
    margin-top: 50px;
}
    
#footer article:not(#copyright) {
    text-align: center;
}
#footer section#superior.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0px;
}
#footer h4,#footer p{
    margin-bottom: 0px;
    margin-top: 0px;
}
#footer section#inferior.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}
#footer section#inferior p {
    margin-top: 50px;
}
#copyright {
    margin: 0px;
}


@media (min-width: 361px) {
    #header,main article.container,#footer {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    #hamburguesa {
        display: none;
    }
    .descripciones {
        display: block;
    }
    #nav1,#nav2 {
        display:  flex;
    }
    header .inferior-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav1{
        list-style-type: none;
        display: flex;
    }
    #nav1 a {
        margin: 0px 5px 0px 5px;
    }
    #nav2 div {
        margin: 0px 5px 0px 5px;
    }
    section.subsecciones {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
}
@media (min-width: 769px) {
    #header,main article.container,#footer {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    #hamburguesa {
        display: none;
    }
    .descripciones {
        display: block;
    }
    #nav1,#nav2 {
        display: flex;
    }
    header .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .top-bar {
        display: initial;
    }
    .top-bar-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fas.fa-search {
        background-color: #ebebeb;
        border-radius: 3px;
        font-size: 14px;
        color: #666;
        padding: 5px;
        display: flex;
        border: #666 solid 1px;
        position: relative;
        top: 0;
        right: -27px;
    }
    .search {
        display: flex;
        max-width: auto;
        padding-left: 0px;
        margin:auto;
        align-items: center;
        justify-content: right;
    }
    .search-box {
        background-color: white;
        width: auto;
        white-space: normal; 
        overflow: visible;
        text-overflow: clip;
    }
    section.subsecciones {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 20px;
    }
}